#about-me-page {
    text-align: center;
    font-family:'Bree Serif', serif;

    header {
        background-color: #09090a;
        box-shadow: 0 5px 20px #000;

        h1 {
            color: #a51708;
            font-size: 3rem;
        }
    }  

    .about-content {
        text-align: left;
        h2 {
            margin-left: 20px;
            color: #a51708;
        }

        p {
            margin-left: 20px;
        }

        li {
            margin-left: 20px;
            list-style: none;
        }
    }
}