    #header-home {
        background: url(../images/fire-banner.jpg) no-repeat center;

        #banner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            color: #ddd;
        }
    }