
    #projects-content {

        a {
            text-decoration: none;
        }
        
        h2 {
            color: #ddd;
            text-decoration: none;
        }

        span {
            color: #ddd;
        }
    }