// partial imports
@import 'partials/header',
        'partials/projects',
        'partials/contact',
        'partials/nav';

// Universal Selectors

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .wrapper main {
        background-color: #191a1c;
        margin-left: 13.5em;
    }